.wrapper {
  width: 100%;
  display: flex;
}
.sidebar {
  width: 20%;
  height: auto;
  background-color: #f1f2f7;
}
.main-content {
  width: 80%;
}
.toolbar,
.canvas {
  width: 100%;
}
// .canvas {
//   height: 90vh;
// }
