.wrapper {
  height: 88vh;
}

.header {
  height: 84px;
  border-bottom: 1px solid #c8cbd9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #5a67ba;
  color: white;
}
.title {
  margin: 0;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #5a67ba;
}

.body {
  height: 100%;
  overflow-y: auto;
  padding: 15px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.drawed-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.delete-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
}
.rectangle {
  width: 15px;
  height: 13px;
  border: 2px solid #000000;
  cursor: pointer;
}
.line {
  width: 15px;
  height: 5px;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
  background-color: transparent;
  cursor: pointer;
}
