<div>
  <div class="header">
    <div class="header-circle">c</div>
    <p class="title">Canva</p>
  </div>

  <div class="body">
    <p>Drawed elements</p>

    <div *ngFor="let item of shapeList" class="drawed-element-container">
      <div class="type-name-container">
        <div *ngIf="item === Shapes.Rectangle" class="rectangle"></div>
        <div *ngIf="item === Shapes.Circle" class="circle"></div>
        <div *ngIf="item === Shapes.Line" class="line"></div>
        <p class="shape-name">{{ item }}</p>
      </div>
      <img
        class="delete-icon"
        src="../../../../assets/delete-icon.png"
        (click)="redrawCanvas()"
      />
    </div>
  </div>
</div>
